.card-title {
  color: black;
text-align: center
}
.card-text {
  text-align: center;
  color: blue;
  font-size: 12px;
}
p {
color: black;
text-align: center;
margin: 1 0 0px;
font-size: 22px
}
.card {
  margin-top: 5px
  }
.btn btn-primary {
  margin:0 0 0px;
  }